<div class="">
  <aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <div class="heading">
      <img
        src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
        alt="">
      <div class="info">
        <h3><a>user</a></h3>
      </div>
    </div>
    <ul class="categories">
      <li routerLink="/dashboard" routerLinkActive="active-link"><i class="fa fa-video-camera"></i><a> Media Library</a>
      <li routerLink="/dashboard" routerLinkActive="active-link"><i class="fa fa-file-image-o"></i><a> Template
          Library</a>
      <li routerLink="/dashboard/users" routerLinkActive="active-link"><i class="fa fa-users"></i><a> Users</a>
      </li>
    </ul>
  </aside>
  <div id="contents">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <i class="fa fa-align-right"></i>
          </button>
          <a class="navbar-brand"><span class="main-color">Dashboard</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">My profile</a>
              <ul class="dropdown-menu">
                <li><a><i class="fa fa-user-o fw"></i> My account</a></li>
                <li role="separator" class="divider"></li>
                <li><a><i class="fa fa-sign-out"></i> Log out</a></li>
              </ul>
            </li>
           
            <li><a><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>