
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'PT Sans', sans-serif !important;
}
.flex_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.a-button-primary {
    background: #f0c14b !important;
    border-color: #a88734 #9c7e31 #846a29 !important;
    color: #111;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0 0 !important;
}
.mat-form-field-infix{
    border-top: 0;
}
input.ng-dirty.ng-invalid,
input.ng-touched.ng-invalid,
select.ng-dirty.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-dirty.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.err {
  color: #ff0000;
  font-size: 12px;
}